.read__arrow__sv {
  margin-bottom: 0 !important;
}

.read__arrow__sv svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -110vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 1 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__sv svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__sv {
    display: none;
  }
  .read__arrow__sv svg {
    display: none;
  }
}

.read__arrow__mk {
  margin-bottom: 0 !important;
}

.read__arrow__mk svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -100vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 1 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__mk svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__mk {
    display: none;
  }
  .read__arrow__mk svg {
    display: none;
  }
}

.read__arrow__mim {
  margin-bottom: 0 !important;
}

.read__arrow__mim svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -95vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 1 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__mim svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__mim {
    display: none;
  }
  .read__arrow__mim svg {
    display: none;
  }
}

.read__arrow__scj {
  margin-bottom: 0 !important;
}

.read__arrow__scj svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -102vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 1 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__scj svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__scj {
    display: none;
  }
  .read__arrow__scj svg {
    display: none;
  }
}

.read__arrow__rdp {
  margin-bottom: 0 !important;
}

.read__arrow__rdp svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -100vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 1 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__rdp svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__rdp {
    display: none;
  }
  .read__arrow__rdp svg {
    display: none;
  }
}

.read__arrow__scj-web {
  margin-bottom: 0 !important;
}

.read__arrow__scj-web svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -99vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 1 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__scj-web svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__scj-web {
    display: none;
  }
  .read__arrow__scj-web svg {
    display: none;
  }
}
/*# sourceMappingURL=read__arrow__public.css.map */