.read__arrow__sv {
  margin-bottom: 0 !important;
}

.read__arrow__sv svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -100vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__sv svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__sv {
    display: none;
  }
  .read__arrow__sv svg {
    display: none;
  }
}

.read__arrow__mk {
  margin-bottom: 0 !important;
}

.read__arrow__mk svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -130vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__mk svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__mk {
    display: none;
  }
  .read__arrow__mk svg {
    display: none;
  }
}

.read__arrow__mim {
  margin-bottom: 0 !important;
}

.read__arrow__mim svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -145.5vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__mim svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__mim {
    display: none;
  }
  .read__arrow__mim svg {
    display: none;
  }
}

.read__arrow__scj {
  margin-bottom: 0 !important;
}

.read__arrow__scj svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -98.3vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__scj svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__scj {
    display: none;
  }
  .read__arrow__scj svg {
    display: none;
  }
}

.read__arrow__rdp {
  margin-bottom: 0 !important;
}

.read__arrow__rdp svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -125.5vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__rdp svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__rdp {
    display: none;
  }
  .read__arrow__rdp svg {
    display: none;
  }
}

.read__arrow__g-spices {
  margin-bottom: 0 !important;
}

.read__arrow__g-spices svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -125.3vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__g-spices svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__g-spices {
    display: none;
  }
  .read__arrow__g-spices svg {
    display: none;
  }
}

.read__arrow__aqd {
  margin-bottom: 0 !important;
}

.read__arrow__aqd svg {
  position: relative;
  width: 150px;
  float: left;
  margin-top: -125.2vw;
  margin-left: 5.3rem;
  margin-bottom: -12rem;
  z-index: 2 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__aqd svg {
    position: relative;
    z-index: 2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 950px) {
  .read__arrow__aqd {
    display: none;
  }
  .read__arrow__aqd svg {
    display: none;
  }
}
/*# sourceMappingURL=read__arrow__public.css.map */