//============= SUVE =============
.read__arrow__sv {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -100vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__sv svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__sv {
    display: none;
    svg {
      display: none;
    }
  }
}

//============= MechKeys =============
.read__arrow__mk {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -128vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__mk svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__mk {
    display: none;
    svg {
      display: none;
    }
  }
}

//============= OG =============
// .read__arrow__og {
//   margin-bottom: 0 !important;
//   svg {
//     position: relative;
//     width: 150px;
//     float: left;
//     margin-top: -78vw;
//     margin-left: 5.3rem;
//     margin-bottom: -12rem;
//     z-index: 1 !important;
//   }
// }
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
//   .read__arrow__og svg {
//     position: relative;
//     z-index: 1 !important;
//     margin-top: 0 !important;
//     margin-bottom: 0 !important;
//   }
// }
// @media screen and (max-width: 950px) {
//   .read__arrow__og {
//     display: none;
//     svg {
//       display: none;
//     }
//   }
// }

//============= MIM =============
.read__arrow__mim {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -95vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__mim svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__mim {
    display: none;
    svg {
      display: none;
    }
  }
}

//============= SCJ =============
.read__arrow__scj {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -102vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__scj svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__scj {
    display: none;
    svg {
      display: none;
    }
  }
}

//============= REDPOW =============
.read__arrow__rdp {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -100vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__rdp svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__rdp {
    display: none;
    svg {
      display: none;
    }
  }
}

//============= SCJ-WEB =============
.read__arrow__scj-web {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -99vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__scj-web svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__scj-web {
    display: none;
    svg {
      display: none;
    }
  }
}

//============= AQDNICA =============
.read__arrow__aqd {
  margin-bottom: 0 !important;
  svg {
    position: relative;
    width: 150px;
    float: left;
    margin-top: -123vw;
    margin-left: 5.3rem;
    margin-bottom: -12rem;
    z-index: 1 !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .read__arrow__aqd svg {
    position: relative;
    z-index: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 950px) {
  .read__arrow__aqd {
    display: none;
    svg {
      display: none;
    }
  }
}
