@font-face {
  font-family: "NF Chimaera Sans";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d866bf48033514d9b8_NFChimaeraSans-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d8f182b57b526b30b2_NFChimaeraSans-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saol Display";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23df66bf4812a614d9c7_SaolDisplay-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23df66bf48d84d14d9c6_SaolDisplay-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saol Display";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23e766bf48468814d9d4_SaolDisplay-ThinItalic.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23e71276728eb882b749_SaolDisplay-ThinItalic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Guardian Ty-Re";
  src: url("../fonts/Guardian\ Typeface\ reguler.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #d9d9d9;
  --bg-color: #0f0f0f;
  --sc-color: #fade01;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 1.4vw;
  line-height: 1.4vw;
  font-family: "Karla", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overflow-y: none;
  overflow-x: hidden;
}
/*Background Noise Effect */

body:before {
  animation: grain 6s steps(10) infinite;
  background-image: url("https://uploads-ssl.webflow.com/5ac3ff4f55be97394f6d2f9c/5b05cfdf12b5db82badf99f8_grain-texture.png");
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 1;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

// Head-Portfolio-Titles
.bradcam_area .bradcam_text .hp-1 {
  animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.bradcam_area .bradcam_text .hp-2 {
  animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* The Modal (background) */
.details_gall_image {
  z-index: 9999 !important;
  margin-bottom: -2rem;

  img {
    cursor: crosshair;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.87;
    }
  }

  // image modal viewer
  #image-viewer {
    display: none;
    position: fixed;
    z-index: 100% !important;
    cursor: zoom-out;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(15, 15, 15, 0.754);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    .modal-content {
      margin: auto;
      display: block;
      position: relative;
      cursor: zoom-out;
      width: 36%;
      max-width: 860px;
      animation-name: zoom;
      animation-duration: 0.5s;
      border-radius: 2px;
      z-index: 9999 !important;

      &:hover {
        transition: none;
        opacity: 1;
      }
    }

    @keyframes zoom {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  }

  #image-viewer .close {
    position: absolute;
    top: 55px;
    right: 135px;
    color: var(--main-color);
    font-family: "Le murmure";
    font-size: 35px;
    font-weight: lighter !important;
    transition: 0.3s;
    z-index: 3 !important;
  }
  .badge,
  .close {
    font-weight: lighter !important;
    text-shadow: none;
  }
  #image-viewer .close:hover,
  #image-viewer .close:focus {
    font-weight: lighter !important;
    color: #d9d9d9cb;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
  }

  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #image-viewer {
      display: none;
      position: fixed;
      z-index: 4 !important;
      cursor: zoom-out;
      padding-top: 200px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(15, 15, 15, 0.774);
      -webkit-backdrop-filter: blur(4px);
      -moz-backdrop-filter: blur(4px);
      -ms-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);

      .modal-content {
        margin: auto;
        display: block;
        cursor: zoom-out;
        width: 50%;
        max-width: 480px;
        animation-name: zoom;
        z-index: 4 !important;

        &:hover {
          transition: none;
          opacity: 1;
        }
      }
      .close {
        top: 127px;
        right: 100px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    #image-viewer {
      display: none;
      position: fixed;
      z-index: 4 !important;
      cursor: zoom-out;
      padding-top: 220px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(15, 15, 15, 0.74);
      -webkit-backdrop-filter: blur(4px);
      -moz-backdrop-filter: blur(4px);
      -ms-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);

      .modal-content {
        margin: auto;
        display: block;
        cursor: zoom-out;
        width: 81%;
        max-width: 480px;
        animation-name: zoom;
        z-index: 4 !important;

        &:hover {
          transition: none;
          opacity: 1;
        }
      }

      .close {
        top: 172px;
        right: 0;
        left: 0;
        color: #d9d9d9de;
        font-family: "Le murmure";
      }
    }
    .modal-content {
      width: 100%;
    }
  }
}

.bradcam_area {
  // background-image: url(/assets/images/share2.jpg);
  background-color: transparent; /* For browsers that do not support gradients */
  background: linear-gradient(
    rgba(139, 139, 139, 0.082),
    rgba(36, 35, 35, 0.043)
  );
  background-size: cover;
  background-position: bottom;
  padding: 130px 0 127px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

@media (max-width: 767px) {
  .bradcam_area {
    padding: 120px 0;
  }
}

.bradcam_area h3 {
  position: relative;
  display: inline;
  font-size: 105px;
  letter-spacing: -3px;
  line-height: 7.5rem;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: -5px;
  // text-transform: capitalize;
  // -webkit-font-family: "Guardian Ty-Re";
  // -moz-font-family: "Guardian Ty-Re";
  // -ms-font-family: "Guardian Ty-Re";
  // font-family: "Guardian Ty-Re";
  font-family: "Saol Display";

  z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .bradcam_area h3 {
    font-size: 70px;
    line-height: 5rem;
    font-family: "Saol Display";
  }
  .bradcam_area span {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .bradcam_area h3 {
    display: inline;
    font-size: 88px;
    line-height: 6rem;
    font-family: "Saol Display";
  }
}

@media screen and (max-width: 480px) {
  .bradcam_area {
    margin-bottom: -3rem !important;

    h3 {
      display: inline;
      letter-spacing: -1px;
      line-height: 1;
      color: var(--main-color);
      font-weight: 500;
      // text-transform: capitalize;
      font-family: "Saol Display";
    }
  }
}

.bradcam_area p {
  font-size: 18px;
  color: var(--main-color);

  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: var(--main-color);
}

.bradcam_area p a:hover {
  color: var(--main-color);
}

.work_details_area {
  background: transparent;
  padding-bottom: 70px;
  position: relative;
  margin-top: -30px;
  z-index: 2 !important;
}

.work_details_area .porject_btn {
  .custom-btn {
    // border: solid 1px var(--main-color);
    font-family: "NF Chimaera Sans";
    font-size: 13px;
    text-transform: uppercase;
    // padding: 12px 24px 12px 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  button {
    margin-top: 5px;
    z-index: 1;
    color: var(--main-color);
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
    // &::after {
    //   position: absolute;
    //   content: "";
    //   width: 0;
    //   height: 100%;
    //   top: 0;
    //   right: 0;
    //   z-index: -1;
    //   background-color: var(--main-color);
    //   transition: all 0.3s ease;
    // }
    // &:hover {
    //   // background-color: var(--main-color);
    //   color: var(--bg-color);
    // }
    // &:hover::after {
    //   left: 0;
    //   width: 100%;
    // }
    // &:active {
    //   top: 2px;
    // }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(1);
      height: 1px;
      top: 1.7vw;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--main-color) !important;
      transform-origin: bottom center;
      transition: transform 0.3s ease-out;
      -webkit-transition: transform 0.3s ease-out;
      -moz-transition: transform 0.3s ease-out;
    }
    &:hover::after {
      transform: scaleX(0);
      transform-origin: bottom center;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .work_details_area .single_catagory {
    button {
      &::after {
        margin-top: 0.7rem;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .work_details_area .single_catagory {
    button {
      &::after {
        margin-top: 1rem;
      }
    }
  }
}

.work_details_area .details_catagory_wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .work_details_area .details_catagory_wrap {
    display: block;
    margin-bottom: 40px;
  }
}

.work_details_area .details_catagory_wrap .single_catagory {
  margin-bottom: 30px;
  z-index: 0 !important;
}

.work_details_area .details_catagory_wrap .single_catagory span {
  font-size: 16px;
  color: #b8bdc7;
  font-weight: 400;
  font-family: "Saol Display";
  font-style: italic;
  text-transform: none;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 4px;
}

.work_details_area .details_catagory_wrap .single_catagory h5.wdt-desc {
  font-size: 13px;
  color: var(--main-color);
  font-weight: 400;
  margin-bottom: 6px !important;
}

.work_details_area .details_catagory_wrap .single_catagory .social_links a {
  font-size: 16px;
  color: var(--main-color);
  margin-right: 20px;
}

.work_details_area
  .details_catagory_wrap
  .single_catagory
  .social_links
  a:hover {
  opacity: 80%;
}

.work_details_area .banner {
  margin-bottom: 75px;
}

@media (max-width: 767px) {
  .work_details_area .banner {
    margin-bottom: 40px;
  }
}

.work_details_area .banner img {
  position: relative;
  z-index: -1;
  width: 100%;
  opacity: 0.85;
}
.work_details_area .details_info .info {
  position: relative;
  text-align: left;
  margin-bottom: 4rem;
  animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;

  span {
    display: inline;
    font-family: "Saol Display";
    color: var(--main-color);
    font-size: 2.5vw;
    font-weight: 500;
    text-transform: none;
    letter-spacing: -1.5px;
    margin-right: 2px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .work_details_area .details_info .info {
    span {
      font-size: 4vw;
    }
  }
}
@media screen and (max-width: 480px) {
  .work_details_area .details_info .info {
    span {
      font-size: 8vw;
    }
  }
}
@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.work_details_area .details_info .info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  -webkit-grid-template-columns: 2fr 2fr;
  -moz-grid-template-columns: 2fr 2fr;
  -ms-grid-template-columns: 2fr 2fr;
  grid-gap: 3rem;
  -webkit-grid-gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  -moz-grid-auto-rows: minmax(100px, auto);
  -webkit-grid-auto-rows: minmax(100px, auto);
  -ms-grid-auto-rows: minmax(100px, auto);
}
@media only screen and (max-width: 480px) {
  .work_details_area .details_info .info {
    display: grid;
    grid-template-columns: 2fr;
    -webkit-grid-template-columns: 2fr;
    -moz-grid-template-columns: 2fr;
    -ms-grid-template-columns: 2fr;
    grid-gap: 0.6rem;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 1.5rem;

    p {
      color: var(--main-color);
      font-size: 16px !important;
      font-weight: 400;
    }
  }
}

.work_details_area .details_info .info p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: var(--main-color);
}
@media screen and (min-width: 480px) and (max-width: 630px) {
  .bradcam_area .bradcam_text span {
    display: inline-block !important;
  }
}
@media screen and (max-width: 480px) {
  .bradcam_area .bradcam_text {
    margin-top: -4rem !important;
  }
  .bradcam_area .bradcam_text span {
    display: block !important;
    font-size: 15.4vw;
    text-align: left !important;
    margin-left: 0.8rem;
  }
}
.work_details_area .details_gall_image .grid {
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

.work_details_area .details_gall_image {
  .cell {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .work_details_area .details_gall_image {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
}

@media screen and (max-width: 768px) {
  .work_details_area .details_gall_image .grid {
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .work_details_area .details_gall_image {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: calc(50% - 2rem);
    }
    img {
      width: 95%;
    }
  }
}
@media screen and (max-width: 480px) {
  .work_details_area .details_gall_image .grid {
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 100%;
    }
    video {
      text-align: center;
      width: 100%;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  video {
    width: 300px;
  }

  footer {
    .i-copy {
      color: var(--main-color);
    }
    .foot__worksinq {
      color: var(--main-color);
    }
  }
}
// Lets Start Talking
.discuss_projects {
  margin-top: 5rem;
  margin-bottom: -1rem;

  .outline_text {
    span {
      font-family: "Saol Display";
      font-style: italic;
      text-transform: none;
      font-weight: 400;
      font-size: 22px;
    }
  }

  @media only screen and (min-width: 768px) and(max-width: 1200px) {
    .ico_smile {
      font-size: 19px;
    }
  }
  h3 {
    font-family: "NF Chimaera Sans";
    font-weight: 500;
  }
  @media only screen and (min-width: 600px) {
    .discuss_projects h3 {
      font-family: "NF Chimaera Sans";
      font-weight: 500;
    }
  }
  .project_text {
    .custom-btn {
      // border: solid 1px var(--main-color);
      font-family: "NF Chimaera Sans";
      font-size: 15px;
      text-transform: uppercase;
      // padding: 12px 24px 12px 24px;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      z-index: 1;
    }

    button {
      margin-top: 5px;
      z-index: 1;
      color: var(--main-color);
      letter-spacing: 0.3px;
      transition: all 0.3s ease-in-out;
      //   &::after {
      //     position: absolute;
      //     content: "";
      //     width: 0;
      //     height: 100%;
      //     top: 0;
      //     right: 0;
      //     z-index: -1;
      //     background-color: var(--main-color);
      //     transition: all 0.3s ease;
      //   }
      //   &:hover {
      //     // background-color: var(--main-color);
      //     color: var(--bg-color);
      //   }
      //   &:hover::after {
      //     left: 0;
      //     width: 100%;
      //   }
      //   &:active {
      //     top: 2px;
      //   }
      // }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 1px;
        top: 1.8vw;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--main-color) !important;
        transform-origin: bottom center;
        transition: transform 0.3s ease-out;
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
      }
      &:hover::after {
        transform: scaleX(0);
        transform-origin: bottom center;
      }
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .discuss_projects {
    button {
      &::after {
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .discuss_projects {
    margin-top: 5rem;

    h3 {
      font-size: 26px;
      line-height: 2.7rem;
      letter-spacing: -0.5px;
      font-family: "NF Chimaera Sans";
    }

    button {
      &::after {
        margin-top: 1.2rem;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  button {
    &::after {
      margin-top: 0.8rem;
    }
  }
}
@media screen and (max-width: 480px) {
  .outline_text {
    font-size: 14px;
  }
}

.container__button__np {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
@media screen and (max-width: 480px) {
  .container__button__np {
    .row {
      margin-top: -10px;
    }
  }
}
.prev_project {
  margin-right: 1rem;
  margin-bottom: 0;
  z-index: 1;

  a {
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    opacity: 75%;
    color: var(--main-color) !important;

    &:hover {
      opacity: 100%;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      svg {
        margin-right: 7px;
      }
    }
    svg {
      color: var(--main-color);
      width: 14px;
      margin-right: 5px;
      transform: rotate(90deg);
    }
  }
}
.next_project {
  // font-style: italic;
  margin-left: 1.5rem;
  margin-bottom: 0;
  z-index: 1;

  a {
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    opacity: 75%;
    color: var(--main-color) !important;

    &:hover {
      opacity: 100%;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      svg {
        margin-left: 7px;
      }
    }
    svg {
      color: var(--main-color);
      width: 14px;
      margin-left: 5px;
      transform: rotate(-90deg);
    }
  }
}
@media screen and (max-width: 480px) {
  .next_project {
    margin-left: 1rem;
  }
}

footer {
  margin-top: 0;
  z-index: 2;

  .foot__worksinq {
    color: var(--main-color);
  }
  a {
    color: var(--main-color) !important;
  }

  @media (min-width: 991px) {
    .i-link::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      top: 1.7vw;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--main-color) !important;
      transform-origin: bottom center;
      transition: transform 0.3s ease-out;
      -webkit-transition: transform 0.3s ease-out;
      -moz-transition: transform 0.3s ease-out;
    }
    .i-link:hover::after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }
  }

  .first__foot__row .foot__btt svg {
    color: var(--main-color);
    width: 14px;
    margin-left: 5px;
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 480px) {
  footer {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  footer {
    margin-top: 5rem;
    .i-copy {
      color: var(--main-color);
    }
    .foot__worksinq {
      color: var(--main-color);
    }
  }
}
