@font-face {
  font-family: "NF Chimaera Sans";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d866bf48033514d9b8_NFChimaeraSans-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d8f182b57b526b30b2_NFChimaeraSans-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Opposit";
  src: url("../fonts/opposit-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
// @font-face {
//   font-family: "Opposit-Regular";
//   src: url("../fonts/Opposit-Regular.ttf") format("ttf");
//   font-weight: 400;
//   font-style: normal;
// }

:root {
  --main-color: #d9d9d9;
  --bg-color: #0f0f0f;
  --sc-color: #fade01;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 1.4vw;
  line-height: 1.4vw;
  font-family: "Karla", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overflow-y: none;
  overflow-x: hidden;
}
/*Background Noise Effect */

body:before {
  animation: grain 6s steps(10) infinite;
  background-image: url("https://uploads-ssl.webflow.com/5ac3ff4f55be97394f6d2f9c/5b05cfdf12b5db82badf99f8_grain-texture.png");
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 1;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

// Head-Portfolio-Titles
.bradcam_area .bradcam_text .hp-1 {
  animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.bradcam_area .bradcam_text .hp-2 {
  animation: text-clip 3s 0.6s cubic-bezier(0.5, 0, 0.5, 1) both;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* The Modal (background) */
.details_gall_image {
  z-index: 9999 !important;
  margin-bottom: -2rem;

  img {
    cursor: crosshair;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.85;
    }
  }

  // image modal viewer
  #image-viewer {
    display: none;
    position: fixed;
    z-index: 100% !important;
    cursor: zoom-out;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(15, 15, 15, 0.774);
    backdrop-filter: blur(4px);

    .modal-content {
      margin: auto;
      display: block;
      position: relative;
      cursor: zoom-out;
      width: 36%;
      max-width: 860px;
      animation-name: zoom;
      animation-duration: 0.5s;
      border-radius: 2px;
      z-index: 9999 !important;

      &:hover {
        transition: none;
        opacity: 1;
      }
    }

    @keyframes zoom {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  }

  #image-viewer .close {
    position: absolute;
    top: 55px;
    right: 135px;
    color: var(--main-color);
    font-family: "Le murmure";
    font-size: 35px;
    font-weight: lighter !important;
    transition: 0.3s;
    z-index: 3 !important;
  }
  .badge,
  .close {
    font-weight: lighter !important;
    text-shadow: none;
  }
  #image-viewer .close:hover,
  #image-viewer .close:focus {
    font-weight: lighter !important;
    color: #d9d9d9cb;
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
  }

  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    #image-viewer {
      display: none;
      position: fixed;
      z-index: 4 !important;
      cursor: zoom-out;
      padding-top: 200px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(15, 15, 15, 0.774);
      backdrop-filter: blur(4px);

      .modal-content {
        margin: auto;
        display: block;
        cursor: zoom-out;
        width: 50%;
        max-width: 480px;
        animation-name: zoom;
        z-index: 4 !important;

        &:hover {
          transition: none;
          opacity: 1;
        }
      }
      .close {
        top: 127px;
        right: 100px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    #image-viewer {
      display: none;
      position: fixed;
      z-index: 4 !important;
      cursor: zoom-out;
      padding-top: 235px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(15, 15, 15, 0.76);
      backdrop-filter: blur(4px);

      .modal-content {
        margin: auto;
        display: block;
        cursor: zoom-out;
        width: 77%;
        max-width: 480px;
        animation-name: zoom;
        z-index: 4 !important;

        &:hover {
          transition: none;
          opacity: 1;
        }
      }

      .close {
        top: 177px;
        right: 0;
        left: 0;
        color: #d9d9d9de;
        font-family: "Le murmure";
      }
    }
    .modal-content {
      width: 100%;
    }
  }
}

.bradcam_area {
  // background-image: url(/assets/images/share2.jpg);
  background-color: transparent; /* For browsers that do not support gradients */
  background: linear-gradient(
    rgba(139, 139, 139, 0.082),
    rgba(36, 35, 35, 0.043)
  );
  background-size: cover;
  background-position: bottom;
  padding: 130px 0 127px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

@media (max-width: 767px) {
  .bradcam_area {
    padding: 120px 0;
  }
}

.bradcam_area h3 {
  position: relative;
  display: inline;
  font-size: 100px;
  letter-spacing: -4.6px;
  line-height: 1;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 0;
  // text-transform: capitalize;
  font-family: "Opposit";
  z-index: 2;
  span {
    font-family: "Opposit";
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .bradcam_area h3 {
    font-size: 70px;
  }
  .bradcam_area span {
    display: inline-block !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .bradcam_area h3 {
    display: inline;
    font-size: 70px;
  }
}
@media screen and (max-width: 480px) {
  .bradcam_area h3 {
    display: inline;
    font-size: 49px;
    letter-spacing: -1px;
    line-height: 1;
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 0;
    // text-transform: capitalize;
    font-family: "NF Chimaera Sans";

    span {
      font-family: "NF Chimaera Sans";
    }
  }
}

.bradcam_area p {
  font-size: 18px;
  color: var(--main-color);

  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: var(--main-color);
}

.bradcam_area p a:hover {
  color: var(--main-color);
}

.work_details_area {
  background: transparent;
  padding-bottom: 70px;
  position: relative;
  margin-top: -30px;
  z-index: 2 !important;
}

.work_details_area .porject_btn {
  .custom-btn {
    border: solid 1px var(--main-color);
    font-family: "NF Chimaera Sans";
    font-size: 13px;
    text-transform: uppercase;
    padding: 12px 24px 12px 24px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  button {
    margin-top: 5px;
    z-index: 1;
    color: var(--main-color);
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: var(--main-color);
      transition: all 0.3s ease;
    }
    &:hover {
      // background-color: var(--main-color);
      color: var(--bg-color);
    }
    &:hover::after {
      left: 0;
      width: 100%;
    }
    &:active {
      top: 2px;
    }
  }
}

.work_details_area .details_catagory_wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .work_details_area .details_catagory_wrap {
    display: block;
    margin-bottom: 40px;
  }
}

.work_details_area .details_catagory_wrap .single_catagory {
  margin-bottom: 30px;
  z-index: 0 !important;
}

.work_details_area .details_catagory_wrap .single_catagory span {
  font-size: 13px;
  color: #828793;
  font-weight: 400;
  font-family: "NF Chimaera Sans", sans-serif;
  display: block;
  margin-bottom: 6px;
}

.work_details_area .details_catagory_wrap .single_catagory h5.wdt-desc {
  font-size: 13px;
  color: var(--main-color);
  font-weight: 400;
  margin-bottom: 6px !important;
}

.work_details_area .details_catagory_wrap .single_catagory .social_links a {
  font-size: 16px;
  color: var(--main-color);
  margin-right: 20px;
}

.work_details_area
  .details_catagory_wrap
  .single_catagory
  .social_links
  a:hover {
  opacity: 80%;
}

.work_details_area .banner {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .work_details_area .banner {
    margin-bottom: 40px;
  }
}

.work_details_area .banner img {
  position: relative;
  z-index: -1;
  width: 100%;
  opacity: 0.85;
}

.work_details_area .details_info {
  margin-bottom: 70px;
}

.work_details_area .details_info .info {
  margin-bottom: 30px;
}

.work_details_area .details_info .info p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #aab1b7;
}
@media screen and (min-width: 480px) and (max-width: 630px) {
  .bradcam_area .bradcam_text span {
    display: inline-block !important;
  }
}
@media screen and (max-width: 480px) {
  .bradcam_area .bradcam_text span {
    display: inline-block !important;
  }
  .work_details_area .details_info .info p {
    font-size: 16px;
    font-weight: 400;
    color: #aab1b7;
  }
}
.work_details_area .details_gall_image .grid {
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

.work_details_area .details_gall_image {
  .cell {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .work_details_area .details_gall_image {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
}

@media screen and (max-width: 768px) {
  .work_details_area .details_gall_image .grid {
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .work_details_area .details_gall_image {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: calc(50% - 2rem);
    }
    img {
      width: 95%;
    }
  }
}
@media screen and (max-width: 480px) {
  .work_details_area .details_gall_image .grid {
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 100%;
    }
    video {
      text-align: center;
      width: 300px;
    }
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  video {
    width: 300px;
  }
}
// Lets Start Talking
.discuss_projects {
  margin-top: 5rem;
  margin-bottom: -1rem;
  h3 {
    font-family: "Opposit";
    font-weight: 500;
  }
  @media only screen and (min-width: 600px) {
    .discuss_projects h3 {
      font-family: "Opposit";
      font-weight: 500;
    }
  }
  .project_text {
    .custom-btn {
      border: solid 1px var(--main-color);
      font-family: "NF Chimaera Sans";
      font-size: 13px;
      text-transform: uppercase;
      padding: 12px 24px 12px 24px;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      z-index: 1;
    }

    button {
      margin-top: 5px;
      z-index: 1;
      color: var(--main-color);
      letter-spacing: 0.5px;
      transition: all 0.3s ease-in-out;
      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: var(--main-color);
        transition: all 0.3s ease;
      }
      &:hover {
        // background-color: var(--main-color);
        color: var(--bg-color);
      }
      &:hover::after {
        left: 0;
        width: 100%;
      }
      &:active {
        top: 2px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .discuss_projects {
    margin-top: 4rem;

    h3 {
      font-size: 26px;
      letter-spacing: -0.5px;
      font-family: "NF Chimaera Sans";
    }
  }
}
@media screen and (max-width: 480px) {
  .outline_text {
    font-size: 14px;
  }
}

.container__button__np {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
@media screen and (max-width: 480px) {
  .container__button__np {
    .row {
      margin-top: -10px;
    }
  }
}
.prev_project {
  margin-right: 1rem;
  margin-bottom: 0;
  z-index: 1;

  a {
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    opacity: 70%;

    &:hover {
      opacity: 100%;
    }
    svg {
      color: var(--main-color);
      width: 14px;
      margin-right: 5px;
      transform: rotate(90deg);
    }
  }
}
.next_project {
  // font-style: italic;
  margin-left: 1.5rem;
  margin-bottom: 0;
  z-index: 1;

  a {
    transition: all 0.3s ease-in-out;
    font-size: 12px;
    opacity: 70%;

    &:hover {
      opacity: 100%;
    }
    svg {
      color: var(--main-color);
      width: 14px;
      margin-left: 5px;
      transform: rotate(-90deg);
    }
  }
}
@media screen and (max-width: 480px) {
  .next_project {
    margin-left: 1rem;
  }
}

footer {
  margin-top: 0;
  z-index: 2;

  .first__foot__row .foot__btt svg {
    color: var(--main-color);
    width: 14px;
    margin-left: 5px;
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 480px) {
  footer {
    margin-top: 2rem;
  }
}
