@font-face {
  font-family: "NF Chimaera Sans";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d866bf48033514d9b8_NFChimaeraSans-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d8f182b57b526b30b2_NFChimaeraSans-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saol Display";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23df66bf4812a614d9c7_SaolDisplay-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23df66bf48d84d14d9c6_SaolDisplay-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saol Display";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23e766bf48468814d9d4_SaolDisplay-ThinItalic.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23e71276728eb882b749_SaolDisplay-ThinItalic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Le murmure";
  src: url("../fonts/Le-Murmure.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Guardian Ty-Re";
  src: url("../fonts/Guardian\ Typeface\ reguler.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #d9d9d9;
  --bg-color: #0f0f0f;
  --sc-color: #fade01;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-size: 1.4vw;
  line-height: 1.4vw;
  font-family: "Karla", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overflow-y: none;
  overflow-x: hidden;
}
/*Background Noise Effect */

body:before {
  animation: grain 6s steps(10) infinite;
  background-image: url("https://uploads-ssl.webflow.com/5ac3ff4f55be97394f6d2f9c/5b05cfdf12b5db82badf99f8_grain-texture.png");
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 1;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.bradcam_area {
  // background-image: url(/assets/images/share2.jpg);
  background-color: transparent; /* For browsers that do not support gradients */
  background: linear-gradient(
    rgba(139, 139, 139, 0.082),
    rgba(36, 35, 35, 0.043)
  );
  background-size: cover;
  background-position: bottom;
  padding: 160px 0 137px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

@media (max-width: 767px) {
  .bradcam_area {
    padding: 120px 0;
  }
}

.bradcam_area h3 {
  position: relative;
  font-size: 75px;
  letter-spacing: -3px;
  line-height: 1;
  color: var(--main-color);
  font-weight: 400;
  margin-bottom: 0;
  // text-transform: capitalize;
  font-family: "NF Chimaera Sans", sans-serif;
  z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .bradcam_area h3 {
    font-size: 56px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .bradcam_area h3 {
    font-size: 56px;
  }
}
@media screen and (max-width: 480px) {
  .bradcam_area h3 {
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 1;
    color: var(--main-color);
    font-weight: 400;
    margin-bottom: 0;
    // text-transform: capitalize;
    font-family: "NF Chimaera Sans", sans-serif;
  }
}

.bradcam_area p {
  font-size: 18px;
  color: var(--main-color);

  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: var(--main-color);
}

.bradcam_area p a:hover {
  color: var(--main-color);
}

.work_details_area {
  background: var(--bg-color);
  padding-bottom: 70px;
  position: relative;
  margin-top: -30px;
}
.work_details_area span.pl {
  padding-top: 1.1rem !important;
}
.work_details_area a.porject_btn {
  border: solid 1px var(--main-color);
  color: var(--main-color);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
  }
}

.work_details_area .details_catagory_wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .work_details_area .details_catagory_wrap {
    display: block;
    margin-bottom: 40px;
  }
}

.work_details_area .details_catagory_wrap .single_catagory {
  margin-bottom: 30px;
}

.work_details_area .details_catagory_wrap .single_catagory span {
  font-size: 12px;
  color: #828793;
  font-weight: 400;
  font-family: "NF Chimaera Sans", sans-serif;
  display: block;
  margin-bottom: 6px;
}

.work_details_area .details_catagory_wrap .single_catagory h5.wdt-desc {
  font-size: 13px;
  color: var(--main-color);
  font-weight: 400;
  margin-bottom: 6px !important;
}

.work_details_area .details_catagory_wrap .single_catagory .social_links a {
  font-size: 16px;
  color: var(--main-color);
  margin-right: 20px;
}

.work_details_area
  .details_catagory_wrap
  .single_catagory
  .social_links
  a:hover {
  opacity: 80%;
}

.work_details_area .details_catagory_wrap .single_catagory span .porject_btn {
  font-size: 14px;
  padding: 12px 24px 12px 24px;
  background: transparent;
  color: var(--main-color);
  color: var(--main-color);
}
.work_details_area
  .details_catagory_wrap
  .single_catagory
  .porject_btn
  .boxed-btn3 {
  margin-top: 15px;
}

.work_details_area .details_catagory_wrap .single_catagory .porject_btn:hover {
  color: var(--bg-color);
  background: var(--main-color);
  border-color: var(--main-color);
}

.work_details_area .banner {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  .work_details_area .banner {
    margin-bottom: 40px;
  }
}

.work_details_area .banner img {
  position: relative;
  z-index: -1;
  width: 100%;
  opacity: 0.85;
}

.work_details_area .details_info {
  margin-bottom: 70px;
}

.work_details_area .details_info .info {
  margin-bottom: 30px;
}

.work_details_area .details_info .info p {
  font-size: 18px;
  font-weight: 400;
  color: #aab1b7;
}
@media screen and (max-width: 480px) {
  .work_details_area .details_info .info p {
    font-size: 16px;
    font-weight: 400;
    color: #aab1b7;
  }
}
.work_details_area .details_gall_image .grid {
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

.work_details_area .details_gall_image {
  .cell {
    padding: 1.2rem;
  }
}
@media screen and (min-width: 1000px) {
  .work_details_area .details_gall_image {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
}

@media screen and (max-width: 768px) {
  .work_details_area .details_gall_image .grid {
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .work_details_area .details_gall_image {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: calc(50% - 2rem);
    }
    img {
      width: 95%;
    }
  }
}
@media screen and (max-width: 480px) {
  .work_details_area .details_gall_image .grid {
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 95%;
    }
  }
}

// Lets Start Talking
.discuss_projects {
  margin-top: 4rem;
  .project_text a {
    border: solid 1px var(--main-color);
    font-size: 14px;
    padding: 12px 24px 12px 24px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: var(--main-color);
      color: var(--bg-color);
    }
  }
}
@media screen and (max-width: 480px) {
  .discuss_projects {
    margin-top: -2rem;
  }
}
@media screen and (max-width: 480px) {
  .outline_text {
    font-size: 14px;
  }
}

.container__button__np {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.prev_project {
  margin-right: 1rem;
  margin-top: 4rem;
  margin-bottom: 0;
  a {
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    opacity: 70%;
    z-index: 1 !important;

    &:hover {
      opacity: 100%;
    }
    svg {
      color: var(--main-color);
      width: 16px;
      margin-right: 5px;
      transform: rotate(90deg);
    }
  }
}
.next_project {
  margin-left: 1rem;
  margin-top: 4rem;
  margin-bottom: 0;
  a {
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    opacity: 70%;
    z-index: 1 !important;

    &:hover {
      opacity: 100%;
    }
    svg {
      color: var(--main-color);
      width: 16px;
      margin-left: 5px;
      transform: rotate(-90deg);
    }
  }
}

footer {
  margin-top: -3rem;
  z-index: -1;
  .first__foot__row .foot__btt svg {
    color: var(--main-color);
    width: 16px;
    margin-left: 5px;
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 480px) {
  footer {
    margin-top: 2rem;
  }
}
