:root {
  --main-color: #d9d9d9;
  --bg-color: #0f0f0f;
}

.preloader {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background: #0f0f0f url(../images/preloader.svg) no-repeat center center; */
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999 !important;
  pointer-events: none;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
}

@media only screen and (max-width: 768) {
  .preloader {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: #0f0f0f url(../images/preloader.svg) no-repeat center center; */
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    pointer-events: none;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
  }
}
/* @media (min-width: 768) {
  .preloader {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #0f0f0f url(../images/preloader.svg) no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    pointer-events: none;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
  }
} */
@media only screen and (max-width: 480px) {
  .preloader {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: #0f0f0f url(../images/preloader.svg) no-repeat center center; */
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
  }
}
