:root {
  --main-color: #d9d9d9;
  --bg-color: #0f0f0f;
}

.splash {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 2rem;
  justify-content: flex-end;
  color: var(--main-color);
}

.splash.active {
  opacity: 0;
  transition: 0.5s;
}

.splash-title-container {
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden !important;
}

.splash-title {
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color);
  text-transform: none;
}

.splash-title span {
  display: inline-block;
  transform: translateY(20px);
  transition: 1s;
}

/* ===========preload overlay ============= */
