:root {
  /*   --main-color: #d9d9d9;
    --bg-color: #0f0f0f;
    --sc-color: #fade01; */
  --dark-clr: #141414;
  /* --light-clr: #afadad; */
  --light-clr: #b6b6b6;
  --clr-foreground: var(--dark-clr); /*hsl(0 0% 0%);*/
  --clr-background: var(--light-clr);
}
@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: var(--dark-clr);
    --clr-foreground: var(--light-clr);
  }
}
.light-theme {
  --clr-foreground: var(--dark-clr);
  --clr-background: var(--light-clr);
}

.dark-theme {
  --clr-background: var(--dark-clr);
  --clr-foreground: var(--light-clr);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--clr-background);
  color: var(--clr-foreground);
}

nav {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  justify-content: right;
  -webkit-justify-content: flex;
  -moz-justify-content: flex;
  -ms-justify-content: flex;
  margin-top: 2rem;
  margin-bottom: -12px;
  margin-right: 2rem;
  z-index: 3;
}
#switch-theme {
  cursor: pointer;
  background: 0;
  border: 0;
  opacity: 0.8;
  padding: 0.1px;
  border-radius: 50%;
  position: fixed;
  float: right;
  isolation: isolate;
  z-index: 4;
  top: 91.4%;
  font-size: 15px;
  margin-right: 0.2rem;
}

.nav__left_items {
  padding: 0.2rem;
  position: fixed;
  isolation: isolate;
  float: left;
  margin-left: 1.7rem;
}
.nav__name {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -webkit-justify-content: left;
  -webkit-float: left !important;
  margin-top: 0.9rem;
  margin-bottom: -12px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--clr-foreground);
}
.cr_year {
  padding: 0.2rem;
  border-radius: 50%;
  position: fixed;
  isolation: isolate;
  float: left;
  top: 91%;
  font-size: 13px;
  margin-left: 9px;
  color: var(--clr-foreground);
}
.nav__lc {
  padding: 0.2rem;
  border-radius: 50%;
  position: fixed;
  isolation: isolate;
  float: left;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-right: 11px;
  color: var(--clr-foreground);

  /* 
  letter-spacing: -4px;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-text-orientation: upright; */
}
.nav__lc .status {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-decoration: none;
  justify-content: left;
}

@media only screen and (max-width: 480px) {
  nav {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    justify-content: right;
    -webkit-justify-content: flex;
    -moz-justify-content: flex;
    -ms-justify-content: flex;
  }
  nav {
    z-index: 9999 !important;
  }
  #switch-theme {
    padding: 0.2rem;
    border-radius: 50%;
    position: fixed;
    display: block;
    isolation: isolate;
    font-size: 15px;
    margin-top: 0.4rem;
    margin-right: -7px;
    top: 93.5% !important;
  }
  /* .cr_year {
    top: 95.7%;
  } */
  .nav__name {
    display: none;
    /* -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -webkit-justify-content: left;
    -webkit-float: left !important;
    margin-top: 1.2rem;
    letter-spacing: -0.1px; */
  }
  .cr_year {
    display: none;
  }
  .nav__lc {
    display: none;
  }
}
#switch-theme svg {
  fill: var(--clr-foreground);
}

#switch-theme::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0 0% 50% / 0.2);
  border-radius: inherit;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
}

.light-theme #switch-theme::before {
  animation: pulseToLight 1650ms ease-out;
}

.dark-theme #switch-theme::before {
  animation: pulseToDark 1650ms ease-out;
}
/* 
#switch-theme::after {
  content: attr(aria-label);
  position: absolute;
  color: #a7a7a7;
  background: transparent;
  width: max-content;
  font-size: 0.8rem;
  right: 80%;
  top: calc(50% - 1rem);
  margin: 0 auto;
  padding: 0.7em 1em;
  border-radius: 0.125em;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0ms linear 100ms, opacity 100ms linear;
} */

#switch-theme:hover,
#switch-theme:focus {
  outline: 0;
  opacity: 1;
  background: hsl(0 0% 50% / 0.15);
  transition: all 0.3s ease-in-out;
}

#switch-theme:hover::after,
#switch-theme:focus-visible::after {
  opacity: 0.7;
  transform: scale(1);
  transition: transform 70ms linear, opacity 70ms linear;
}

.toggle-circle {
  transition: transform 500ms ease-out;
}

.light-theme .toggle-circle {
  transform: translateX(-15%);
}

.toggle-sun {
  transform-origin: center center;
  transition: transform 750ms cubic-bezier(0.11, 0.14, 0.29, 1.32);
}

.dark-theme .sun-core {
  transform: rotate(-40deg);
}
.dark-theme .sun-rays {
  transform: rotate(-180deg);
  opacity: 0;
}
@keyframes pulseToLight {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulseToDark {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  10% {
    transform: scale(1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.light-theme .toggle-sun {
  transform: rotate(0.5turn);
}
.light-theme .img .toggle-sun {
  transform: rotate(0.5turn);
}

/* main ========================= */
@font-face {
  font-family: "NF Chimaera Sans";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d866bf48033514d9b8_NFChimaeraSans-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23d8f182b57b526b30b2_NFChimaeraSans-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Le murmure";
  src: url("../fonts/Le-Murmure.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Guardian Ty-Re";
  src: url("../fonts/Guardian\ Typeface\ reguler.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saol Display";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23df66bf4812a614d9c7_SaolDisplay-Regular.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23df66bf48d84d14d9c6_SaolDisplay-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Saol Display";
  src: url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23e766bf48468814d9d4_SaolDisplay-ThinItalic.woff2")
      format("woff2"),
    url("https://uploads-ssl.webflow.com/5e7d06bdcdf51b1cff1dbaf7/5e7d23e71276728eb882b749_SaolDisplay-ThinItalic.woff")
      format("woff");
  font-weight: 100;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 9px;
  cursor: grab !important;
}
::-webkit-scrollbar:hover {
  width: 9px;
  cursor: grab !important;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(82, 81, 81, 0.432);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #9c9c9c9f;
  -webkit-box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.781);
}
::-webkit-scrollbar-thumb:hover {
  background: #6d6c6cb9;
}

/* Prelaoder */
/* #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: var(--bg-color) url("/assets/images/preloader.svg") no-repeat
      center center;
  } */
body {
  /*   background-color: var(--bg-color);
    color: var(--main-color); */
  font-size: 1.4vw;
  line-height: 1.4vw;
  font-family: "Karla", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  overflow-y: none;
  overflow-x: hidden;
}
/*Background Noise Effect */

body:before {
  animation: grain 6s steps(10) infinite;
  background-image: url("https://uploads-ssl.webflow.com/5ac3ff4f55be97394f6d2f9c/5b05cfdf12b5db82badf99f8_grain-texture.png");
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

/*Disable Text Selection */
@media (min-width: 991px) {
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

/* Header */

body,
h1 {
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  /* .h-tape {
      position: absolute;
      left: 30vw;
      right: 0%;
      bottom: -3.6vw;
      width: 16%;
    } */

  /* mail */
  .placeholder-contact {
    font-size: 2vw;
    margin-top: 1.5rem;
    text-align: left;
    margin-left: 6px;
  }
}

header {
  text-align: left;
  padding: 0 3em;
}
.placeholder {
  position: relative;
  text-align: left;
  font-size: 2.6em;
  font-weight: 500;
  line-height: 5.5rem;
  letter-spacing: 3px;
  font-family: "Guardian Ty-Re";
  margin-top: 3.8vw;
  text-transform: none;
}

@media screen and (min-width: 769px) and (max-width: 1020px) {
  .placeholder span.wow {
    display: inline-block !important;
    font-size: 1em;
    font-weight: 500;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 768px) {
  .placeholder span {
    display: inline !important;
  }
  .placeholder .ph-1 {
    animation: text-clip 3s 0.3s cubic-bezier(0.5, 0, 0.5, 1) both;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .placeholder .ph-2 {
    animation: text-clip 3s 0.3s cubic-bezier(0.5, 0, 0.5, 1) both;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .placeholder .ph-3 {
    animation: text-clip 3s 0.3s cubic-bezier(0.5, 0, 0.5, 1) both;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .placeholder .ph-4 {
    animation: text-clip 3s 0.3s cubic-bezier(0.5, 0, 0.5, 1) both;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .placeholder .ph-5 {
    animation: text-clip 3s 0.3s cubic-bezier(0.5, 0, 0.5, 1) both;
  }

  @keyframes text-clip {
    from {
      clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  .placeholder .ph-6 {
    animation: text-clip 3s 0.3s cubic-bezier(0.5, 0, 0.5, 1) both;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* mail */
/* .placeholder-contact {
    font-size: 1.1vw;
    margin-top: 2rem;
    text-align: left;
    margin-left: 6px;
  }
  .contact__mail {
    position: relative;
  }
  .contact__mail::before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
  } */

/* behance-dribbble */
.placeholder__socials {
  position: relative;
  outline: 0 none;
  margin-top: -0.5rem;
  z-index: 3;
  color: var(--clr-foreground);
  font-family: "NF Chimaera Sans", sans-serif;
  text-decoration: none;
  background: none !important;
}

li {
  margin-bottom: 9vw;
  font-size: 1.1vw;
  padding: 0 8px;
  outline: 0 none;
  display: inline-block;
  font-family: "NF Chimaera Sans", sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--clr-foreground);
  line-height: 20px;
}

.social__contact {
  position: relative;
  color: var(--clr-foreground);
  font-size: 1vw;
  letter-spacing: 0.8px;
}

.social__contact:after {
  /* content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #858585da;
    transform-origin: bottom center;
    transition: width 0.7s ease;
    -webkit-transition: width 0.7s ease;
    border-radius: 3px; */
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  top: 1.6vw;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--clr-foreground);
  transform-origin: bottom center;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
}

.social__contact:hover:after {
  /* width: 100%;
    left: 0;
    margin-left: 0;
    background: #858585da;
    transform-origin: bottom center; */
  transform: scaleX(1);
  transform-origin: bottom center;
}

@media (min-width: 991px) {
  .i-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 1.7vw;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-foreground);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
  }
  .i-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
}

.text {
  margin-top: -0.6rem;
  color: var(--clr-foreground);
  font-family: "NF Chimaera Sans", sans-serif;
  font-size: 1vw;
  letter-spacing: 1px;
  line-height: 1.1em;
}

.h1 {
  padding-top: 0.9rem;
  line-height: 6rem;
  color: var(--clr-foreground);
  font-family: "Le murmure";
  font-size: 6vw;
}

/* img-header */
header img.img-header {
  position: relative;
  width: 27%;
  height: auto;
  z-index: -3;
  padding-top: 0;
  margin-top: -18rem;
  float: right;
  margin-right: 1vw;
  opacity: 0.6;
  animation: nudge 18s linear infinite alternate;
}

@keyframes nudge {
  0%,
  50% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 40px);
  }

  50% {
    transform: translate(0, -40px);
  }
  /* 50% {
      transform: translate(60px, 0);
    }
  
    50% {
      transform: translate(-60px, -0);
    } */
}
/* arrow */
.p-side {
  position: absolute;
  right: 0;
  left: 0;
  top: 22.8vw;
  background: none !important;
  -webkit-transform: translate(0, 140%);
  -ms-transform: translate(0, 140%);
  -moz-transform: translate(0, 140%);
  transform: translate(0, 140%);
}
.p-arrow {
  width: 21vh;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.9;
}
/* 
  header .p-arrow path {
    -webkit-animation: spin 4s;
    -moz-animation: spin 4s;
    -ms-animation: spin 4s;
    animation: spin 4s;
  }
  @-webkit-keyframes spin {
    100% {
      margin-left: 350px;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    100% {
      margin-left: 350px;
      transform: rotate(360deg);
    }
  } */
/* 
  .section__wcid {
    padding-top: 12rem !important;
    position: relative;
    float: center;
    z-index: -1;
  }
  .section__wcid .child__wcid {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: left !important;
    padding: 2rem;
    background: rgba(217, 217, 217, 0.034);
    background: radial-gradient(
      circle,
      rgba(217, 217, 217, 0.025) 0%,
      rgba(15, 15, 15, 0.144) 100%
    );
  }
  .section__wcid span {
    text-align: left !important;
    display: inline;
    font-size: 1.8vw;
    line-height: 2.5rem;
    letter-spacing: -1px;
  } */

/* ==============
  Media Screen > 768px
   */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section__wcid {
      padding-top: 12rem !important;
      position: relative;
      float: center;
      z-index: -1;
    }
    .section__wcid .child__wcid {
      display: inline-block;
      overflow: hidden;
      position: relative;
      text-align: left !important;
    }
    .section__wcid span {
      text-align: left !important;
      display: inline;
      font-size: 1.8vw;
      line-height: 2.5rem;
      letter-spacing: -2px;
    }
  } */
/* ==============
  Media Screen < 480px
   */
/* @media only screen and (max-width: 480px) {
    .section__wcid {
      padding-top: 12.5rem !important;
      position: relative;
      text-align: left;
      z-index: -1;
    }
    .section__wcid .child__wcid {
      display: inline-block;
      position: relative;
      text-align: left !important;
      padding: 1rem;
    }
    .section__wcid span {
      text-align: left !important;
      display: inline;
      font-size: 4vw;
      line-height: 1.8rem;
      letter-spacing: -1px;
      color: var(--main-color);
      opacity: 0.86 !important;
    }
    .section__wcid br {
      display: none;
    }
  } */
/* ==============
  Media Screen IPAD
   */
/* @media only screen and (min-width: 480px) and (max-width: 768px) {
    .section__wcid {
      padding-top: 10rem !important;
      position: relative;
      float: center;
      z-index: -1;
    }
    .section__wcid .child__wcid {
      display: inline-block;
      overflow: hidden;
      position: relative;
      text-align: left !important;
    }
    .section__wcid span {
      text-align: left !important;
      display: inline;
      font-size: 2.6vw;
      line-height: 2rem;
      letter-spacing: -1px;
    }
    .section__wcid .child__wcid .text__underUpper {
      left: 12px;
    }
  } */

#works {
  padding-top: 15rem !important;
}
.sub-works h2 {
  position: relative;
  font-family: "Le murmure";
  font-size: 9vw;
  margin-bottom: 9.6vw;
}

/* .desc-title {
    text-align: center;
  }
  
  .desc-title h4 {
    font-size: 14px;
    margin-top: -5rem;
    margin-bottom: 5.5rem;
    opacity: 0.8;
  } */

.h-wrap {
  position: relative;
  bottom: 3vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* SVG Line Path */
.h-tape {
  position: absolute;
  text-align: center;
  top: 18rem;
  left: 14%;
  right: 0%;
  bottom: -3.5vw;
  width: 70%;
  opacity: 65%;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  /* .h-tape {
      position: absolute;
      left: 30vw;
      right: 0%;
      bottom: -3.6vw;
      width: 16%;
    } */

  /* arrow */
  .p-side {
    position: absolute;
    right: 0;
    left: 0;
    top: 24vw;
    -webkit-transform: translate(0, 140%);
    -ms-transform: translate(0, 140%);
    -moz-transform: translate(0, 140%);
    transform: translate(0, 140%);
  }
  .p-arrow {
    width: 7vh;
    margin-right: auto;
    margin-left: auto;
  }

  .text {
    margin-top: 0;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    font-size: 1.5vw;
    line-height: 1.2em;
  }
}
svg:not(root) {
  overflow: hidden;
}
.w-embed::after,
.w-embed::before {
  display: table;
}

/* about */
#arrow {
  z-index: 2;
}

#arrow .p-arrow {
  transform: translateZ(0.25px) scale(0.75);
  transform-origin: 50% 100%;
}

/* 
  ----------------------------------------------------------------------------- 
    # GRID
     -----  ------------------------------------------------------------------------ */
.grid {
  position: relative;
}

.wrapper {
  display: grid;
  z-index: 3;
  grid-template-columns: 2fr 2fr 2fr;
  -webkit-grid-template-columns: 2fr 2fr 2fr;
  -moz-grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 3rem;
  -webkit-grid-gap: 7rem;
  grid-auto-rows: minmax(100px, auto);
  -moz-grid-auto-rows: minmax(100px, auto);
  -webkit-grid-auto-rows: minmax(100px, auto);
  -ms-grid-auto-rows: minmax(100px, auto);
  margin-bottom: 7vw;
}

.wrapper > .p-list:nth-child(even) {
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      var(--clr-foreground),
      rgba(0, 0, 0, 0)
    )
    1 100%;
}

/* .wrapper > .p-list:nth-child(odd) {
  background: linear-gradient(
    rgba(139, 139, 139, 0.035),
    rgba(36, 35, 35, 0.048)
  );
} */

/* ----------------------------------------------------------------------------- 
    # Container
     ----------------------------------------------------------------------------- */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  /* z-index: 1; */
}

.link-list a {
  color: var(--clr-foreground);
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}

/* 
  ----------------------------------------------------------------------------- 
    # FOOTER
     -----  ------------------------------------------------------------------------ */
.foot__wrapp {
  display: grid;
  z-index: 3;
  grid-template-columns: 2fr 2fr 2fr;
  -webkit-grid-template-columns: 2fr 2fr 2fr;
  -moz-grid-template-columns: 2fr 2fr 2fr;
  -ms-grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 10rem;
  -webkit-grid-gap: 10rem;
  grid-auto-rows: minmax(80px, auto);
  -webkit-grid-auto-rows: minmax(80px, auto);
  -moz-grid-auto-rows: minmax(80px, auto);
  -ms-grid-auto-rows: minmax(80px, auto);
  /* margin-bottom: 9vw; */
}

footer {
  clear: both;
  position: relative;
  height: 0;
}
footer#main__footer {
  padding-top: 11.5vw;
}
.first__foot__row .foot__btt svg {
  color: var(--clr-foreground);
  width: 16px;
  margin-left: 5px;
  transform: rotate(-180deg);
}

footer .under hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color: all var(--clr-foreground) !important;
}

.foot__btt {
  text-align: left;
  display: flex;
  font-size: 1.1vw;
  letter-spacing: -0.03em;
  color: var(--clr-foreground);
}
.first__foot__row {
  display: grid;
  grid-template-columns: auto auto;
}
.foot__worksinq {
  text-align: right;
  float: right;
  font-size: 1.1vw;
  letter-spacing: -0.03em;
}

.my__legals {
  text-align: left;
  float: left !important;
  clear: both;
}
.i-link-legals {
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: 0.4px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--clr-foreground);
}

@media (min-width: 991px) {
  .i-link-legals::after {
    content: "";
    position: absolute;
    width: 21.7%;
    transform: scaleX(0);
    height: 0.1px;
    top: 1.7vw;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-foreground);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
  }
  .i-link-legals:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .my__legals {
    text-align: left !important;
    float: left !important;
    clear: both;
  }
  .i-link-legals {
    text-decoration: none;
    font-size: 1.1vw;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: all 0.3s;
    color: var(--clr-foreground);
  }
}

@media screen and (max-width: 768px) {
  .my__legals {
    text-align: left;
    float: left !important;
    clear: both;
  }
  .i-link-legals {
    color: var(--clr-foreground);
    font-size: 1.8vw;
    letter-spacing: -0.03em;
    cursor: pointer;
    transition: all 0.3s;
  }
  .i-link {
    text-decoration: none !important;
  }
}
@media screen and (max-width: 480px) {
  .my__legals {
    text-align: left !important;
    float: left !important;
    /* margin-right: 3rem !important; */

    clear: both;
  }
  .i-link-legals {
    text-decoration: none;
    color: var(--clr-foreground);
    font-size: 3.4vw;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: all 0.3s;
  }
}
.foot__mail a {
  font-size: 1.2vw;
  color: var(--clr-foreground);
}

.i-list {
  display: flex;
  /* margin-top: 3vw; */
  clear: both;
  float: right;
}
.i-item {
  margin-bottom: 0.8vw;
  float: left;
  position: relative;
  clear: both;
  margin-left: 1em;
}
.i-link {
  text-decoration: none;
  font-size: 1.1vw;
  letter-spacing: -0.01em;
}

.i-copy {
  text-align: left;
  position: absolute;
  font-family: "NF Chimaera Sans", sans-serif;
  font-size: 1vw;
  float: left;
}

/* ================================================
  481 to 768 PX | IPAD
  ================================================ */
@media only screen and (min-device-width: 481px) and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 9px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(82, 81, 81, 0.432);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9c9c9c9f;
    -webkit-box-shadow: inset 0 0 6px rgba(37, 37, 37, 0.781);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6d6c6cb9;
  }

  .h-tape {
    top: 13.4rem;
  }

  svg:not(root) {
    overflow: hidden;
  }
  .w-embed::after,
  .w-embed::before {
    display: table;
  }

  .i-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 2.6vw;
    bottom: 0;
    left: 0;
    background-color: var(--clr-foreground);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
  }
  .i-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  header {
    text-align: left;
    padding: 0 3em;
  }
  .placeholder {
    position: relative;
    text-align: left;
    font-size: 3.4em;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -1.5px;
    font-family: "Guardian Ty-Re";
    margin-top: 8vw;
    text-transform: none;
  }
  .placeholder span {
    display: inline;
  }
  /* mail */
  /* .placeholder-contact {
      font-size: 1.6vw;
      margin-top: 1rem;
      text-align: left;
      margin-left: 6px;
    }
    .contact__mail {
      position: relative;
    }
    .contact__mail::before {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    } */

  /* behance-dribbble */
  .placeholder__socials {
    position: relative;
    margin-top: -2rem;
    outline: 0 none;
    display: inline-block;
    z-index: 3;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    text-decoration: none;
  }

  li {
    margin-bottom: 9vw;
    font-size: 2vw;
    margin-top: 2.6rem;
    padding: 0 8px;
    outline: 0 none;
    display: inline-block;
    font-family: "NF Chimaera Sans", sans-serif;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: var(--clr-foreground);
    line-height: 20px;
  }

  .social__contact {
    position: relative;
    color: var(--clr-foreground);
    font-size: 2vw;
    letter-spacing: 1px;
  }

  .social__contact:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 2.6vw;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-foreground);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
  }

  .social__contact:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  #arrow {
    z-index: 2;
  }

  #arrow .p-arrow {
    transform: translateZ(0.25px) scale(0.75);
    transform-origin: 50% 100%;
  }

  /* arrow */
  .p-side {
    position: absolute;
    right: 0;
    left: 0;
    top: 70vw;
    -webkit-transform: translate(0, 140%);
    -ms-transform: translate(0, 140%);
    -moz-transform: translate(0, 140%);
    transform: translate(0, 140%);
  }
  .p-arrow {
    width: 11vh;
    margin-right: auto;
    margin-left: auto;
  }

  /* img-header */
  header img.img-header {
    position: relative;
    width: 38%;
    height: auto;
    z-index: -3;
    padding-top: 0;
    margin-top: -12rem;
    float: right;
    margin-right: 4vw;
    animation: nudge 20s linear infinite alternate;
  }

  @keyframes nudge {
    0%,
    50% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, 40px);
    }

    50% {
      transform: translate(0, -40px);
    }
    /* 50% {
        transform: translate(60px, 0);
      }
    
      50% {
        transform: translate(-60px, -0);
      } */
  }

  /* WORKS */

  .wrapper {
    display: grid;
    z-index: 3;
    grid-template-columns: 2fr;
    -webkit-grid-template-columns: 2fr 2fr;
    -moz-grid-template-columns: 2fr 2fr;
    -ms-grid-template-columns: 2fr 2fr;
    grid-gap: 4rem;
    -webkit-grid-gap: 4rem;
    grid-auto-rows: minmax(100px, auto);
    -moz-grid-auto-rows: minmax(100px, auto);
    -webkit-grid-auto-rows: minmax(100px, auto);
    -ms-grid-auto-rows: minmax(100px, auto);
    margin-bottom: 9vw;
  }

  .wrapper > .p-list {
    padding: 0;
    text-align: left;
  }
  .wrapper .p-list:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.85;
  }
  .wrapper > .p-list:nth-child(even) {
    border: none;
  }
  /* .wrapper > .p-list:nth-child(odd) {
    background: none;
  } */

  #works {
    padding-top: 9rem !important;
  }
  .sub-works h2 {
    position: relative;
    font-family: "Le murmure";
    font-size: 14.3vw;
    margin-bottom: 11vw;
  }
  .text {
    margin-top: 0;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    font-size: 1.7vw;
    line-height: 1.1em;
  }

  .h1 {
    line-height: 4rem;
    color: var(--clr-foreground);
    font-family: "Le murmure";
    font-size: 11vw;
    letter-spacing: -0.1px;
  }

  /* ======= FOOTER ======= */
  .foot__wrapp {
    display: grid;
    z-index: 3;
    grid-template-columns: 2fr 2fr 2fr;
    -webkit-grid-template-columns: 2fr 2fr 2fr;
    -moz-grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 0.5rem;
    -webkit-grid-gap: 0.5rem;
    grid-auto-rows: minmax(80px, auto);
    -webkit-grid-auto-rows: minmax(80px, auto);
    -moz-grid-auto-rows: minmax(80px, auto);
    -ms-grid-auto-rows: minmax(80px, auto);
    /* margin-bottom: 9vw; */
  }

  footer {
    clear: both;
    position: relative;
    height: 0;
  }
  footer#main__footer {
    padding-top: 6vw;
  }
  footer .under hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: var(--clr-foreground);
  }

  .foot__btt {
    text-align: left;
    display: flex;
    font-size: 1.7vw;
    letter-spacing: -0.03em;
    color: var(--clr-foreground);
  }
  .first__foot__row {
    display: grid;
    grid-template-columns: auto auto;
  }
  .foot__worksinq {
    text-align: right;
    float: right;
    font-size: 1.7vw;
    letter-spacing: -0.03em;
    color: var(--clr-foreground);
  }

  .foot__mail a {
    display: none;
    /* color: transparent !important; */
  }

  .i-list {
    clear: both;
    float: right;
  }
  .i-item {
    margin-bottom: 0.8vw;
    float: left;
    position: relative;
    clear: both;
    margin-left: 1em;
  }

  .i-link {
    text-decoration: none;
    color: var(--clr-foreground);
    font-size: 1.8vw;
    letter-spacing: -0.01em;
  }

  .i-copy {
    text-align: left;
    position: absolute;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    font-size: 1.7vw;
    margin-top: 5.1px;
    float: left;
  }
}

/* ================================================
  480 MOOBILE 
  ================================================ */
@media only screen and (max-width: 480px) {
  .h-tape {
    top: 15.5rem;
  }
  /* .h-tape {
      position: absolute;
      left: 25.8vw;
      right: 0%;
      bottom: -5.9vw;
      width: 32%;
    } */
  svg:not(root) {
    overflow: hidden;
  }
  .w-embed::after,
  .w-embed::before {
    display: table;
  }

  .i-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 4.3vw;
    bottom: 0;
    left: 0;
    background-color: var(--clr-foreground);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
  }
  .i-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  header {
    text-align: left;
    padding: 0 3em;
  }

  .placeholder {
    position: relative;
    text-align: left;
    float: left;
    font-size: 4em;
    font-weight: 400;
    line-height: 3.8rem;
    letter-spacing: -0.01px;
    font-family: "Guardian Ty-Re";
    margin-top: 9vw;
    text-transform: none;
  }
  .placeholder span {
    display: inline;
    width: auto;
  }

  /* mail */
  /* .placeholder-contact {
      font-size: 2.7vw;
      margin-top: -0.8rem;
      text-align: left;
      margin-left: 6px;
    }
    .contact__mail {
      position: relative;
    }
    .contact__mail::before {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
    } */

  /* behance-dribbble */
  .placeholder__socials {
    position: relative;
    margin-top: -2.6rem;
    outline: 0 none;
    display: inline-block;
    z-index: 3;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    text-decoration: none;
  }
  .social__contact {
    font-size: 3vw;
  }

  li {
    margin-bottom: 9vw;
    font-size: 3vw;
    letter-spacing: 0.2px;
    margin-top: 2rem;
    padding: 0 8px;
    outline: 0 none;
    display: inline-block;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: var(--clr-foreground);
    line-height: 20px;
  }

  .social__contact:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    top: 4.1vw;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-foreground);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
  }

  .social__contact:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  /* arrow */
  .p-side {
    position: absolute;
    right: 0;
    left: 0;
    top: 123vw;
    -webkit-transform: translate(0, 140%);
    -ms-transform: translate(0, 140%);
    -moz-transform: translate(0, 140%);
    transform: translate(0, 140%);
  }
  .p-arrow {
    width: 8vh;
    margin-right: auto;
    margin-left: auto;
  }

  /* img-header */
  header img.img-header {
    position: relative;
    width: 38%;
    height: auto;
    z-index: -3;
    padding-top: 0;
    margin-top: -5.5rem;
    float: right;
    margin-right: 3vw;
    opacity: 0.6;
    animation: nudge 18s linear infinite alternate;
  }

  @keyframes nudge {
    0%,
    50% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(0, 40px);
    }

    50% {
      transform: translate(0, -40px);
    }
    /* 50% {
        transform: translate(60px, 0);
      }
    
      50% {
        transform: translate(-60px, -0);
      } */
  }

  /* WORKS */

  .wrapper {
    display: grid;
    z-index: 3;
    grid-template-columns: 2fr;
    -webkit-grid-template-columns: 2fr;
    -moz-grid-template-columns: 2fr;
    -ms-grid-template-columns: 2fr;
    grid-gap: 1rem;
    -webkit-grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    -moz-grid-auto-rows: minmax(100px, auto);
    -webkit-grid-auto-rows: minmax(100px, auto);
    -ms-grid-auto-rows: minmax(100px, auto);
    margin-bottom: 9vw;
  }

  .wrapper > .p-list {
    padding: 1em;
  }

  .wrapper > .p-list:nth-child(even) {
    border: none;
  }
  /* .wrapper > .p-list:nth-child(odd) {
    background: none;
  } */

  #works {
    padding-top: 12rem !important;
  }
  .sub-works h2 {
    position: relative;
    font-family: "Le murmure";
    font-size: 19.4vw;
    margin-bottom: 11.4vw;
  }
  .text {
    margin-top: -4.2vw;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    font-size: 3.2vw;
    line-height: 1.1em;
  }

  .h1 {
    line-height: 4rem;
    color: var(--clr-foreground);
    font-family: "Le murmure";
    font-size: 16vw;
    letter-spacing: -1px;
  }
  .p-list {
    float: left;
    text-align: left;
    position: relative;
    display: flex;
    left: 2vw;
  }
  /* ======= FOOTER ======= */
  .foot__wrapp {
    display: grid;
    z-index: 3;
    grid-template-columns: 2fr 2fr 2fr;
    -webkit-grid-template-columns: 2fr 2fr 2fr;
    -moz-grid-template-columns: 2fr 2fr 2fr;
    -ms-grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 0.5rem;
    -webkit-grid-gap: 0.5rem;
    grid-auto-rows: minmax(65px, auto);
    -webkit-grid-auto-rows: minmax(65px, auto);
    -moz-grid-auto-rows: minmax(65px, auto);
    -ms-grid-auto-rows: minmax(65px, auto);
    /* margin-bottom: 9vw; */
  }

  footer {
    clear: both;
    position: relative;
    height: 0;
  }
  footer#main__footer {
    padding-top: 12vw;
  }
  footer .under hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: var(--clr-foreground);
  }

  .foot__btt {
    text-align: left;
    display: flex;
    font-size: 3vw;
    letter-spacing: -0.03em;
    color: var(--clr-foreground);
  }
  .first__foot__row .foot__btt svg {
    width: 14px;
  }
  .first__foot__row {
    display: grid;
    grid-template-columns: auto auto;
  }
  .foot__worksinq {
    text-align: right;
    float: right;
    font-size: 3vw;
    letter-spacing: -0.01em;
    color: var(--clr-foreground);
    margin-top: 1.8vw;
  }

  .foot__mail a {
    display: none;
    /* color: transparent !important; */
  }

  .i-list {
    clear: both;
    float: left;
  }
  .i-item {
    margin-bottom: 0.8vw;
    float: left;
    position: relative;
    clear: both;
    margin-left: 1.5em;
  }
  .i-link {
    text-decoration: none;
    color: var(--clr-foreground);
    font-size: 3.4vw;
    letter-spacing: -0.01em;
  }

  .i-copy {
    display: none;
  }
}

/* ================================================
  768px to 1024px
  ================================================ */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .placeholder {
    font-size: 2.7em;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 5rem;
  }
  .placeholder span {
    display: inline;
  }
  .placeholder__socials a {
    font-size: 1.8vw;
  }
  footer .first__foot__row a {
    font-size: 1.4vw;
  }
  footer .foot__worksinq {
    font-size: 1.4vw;
  }
  footer .foot__items a {
    font-size: 1.3vw;
  }
  /* arrow */
  .p-side {
    position: absolute;
    right: 0;
    left: 0;
    top: 43vw;
    -webkit-transform: translate(0, 140%);
    -ms-transform: translate(0, 140%);
    -moz-transform: translate(0, 140%);
    transform: translate(0, 140%);
  }

  .p-arrow {
    width: 11vw;
  }

  .text {
    margin-top: 0;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    font-size: 2vw;
    line-height: 1em;
  }

  /* Legals */
  .my__legals {
    text-align: left !important;
    float: left !important;
    clear: both;
  }
  .i-link-legals {
    text-decoration: none;
    color: var(--clr-foreground);
    font-size: 3.2vw;
    letter-spacing: -0.03em;
    cursor: pointer;
    transition: all 0.3s;
  }
}

/* ================================================
  480px to 640px
  ================================================ */
@media only screen and (min-width: 480px) and (max-width: 640px) {
  /* arrow */
  .p-side {
    position: absolute;
    right: 0;
    left: 0;
    top: 90vw;
    -webkit-transform: translate(0, 140%);
    -ms-transform: translate(0, 140%);
    -moz-transform: translate(0, 140%);
    transform: translate(0, 140%);
  }
  .p-arrow {
    width: 8vh;
    margin-right: auto;
    margin-left: auto;
  }

  .text {
    margin-top: 0;
    color: var(--clr-foreground);
    font-family: "NF Chimaera Sans", sans-serif;
    font-size: 2vw;
    line-height: 1.2em;
  }

  /* Legals */
  .my__legals {
    text-align: left !important;
    float: left !important;
    clear: both;
  }
  .i-link-legals {
    text-decoration: none;
    color: var(--clr-foreground);
    font-size: 2.2vw;
    letter-spacing: -0.03em;
    cursor: pointer;
    transition: all 0.3s;
  }
  .i-link {
    font-size: 2.2vw;
  }
  .i-copy {
    font-size: 1.8vw;
    margin-top: 4px;
  }
  .foot__btt {
    font-size: 1.8vw;
  }
  .foot__worksinq {
    font-size: 1.8vw;
    margin-bottom: -0.5rem !important;
  }
}

/* ================================================
  320px to 480px
  ================================================ */
@media only screen and (min-width: 320px) and (max-width: 400px) {
  /* arrow */
  .p-side {
    position: absolute;
    right: 0;
    left: 0;
    top: 122vw;
    -webkit-transform: translate(0, 140%);
    -ms-transform: translate(0, 140%);
    -moz-transform: translate(0, 140%);
    transform: translate(0, 140%);
  }
  .my__legals {
    text-align: left !important;
    float: left !important;
  }
}
